ul.validate-error{
    width:80%;
    margin:30px;
    padding:10px;
    background-color: #fdd;
    border:1px solid #fbb;
    border-radius: 5px;
    color:#f44;
}

ul.validate-error li{
    padding-left:20px;
    line-height: 2.5em;
    font-weight: bold;
    background:url(/admin/images/error.png) no-repeat 0 10px;
}

div.validate-error{
    position:relative;
    left:88px;
    padding-left:20px;
    line-height: 2.5em;
    font-weight: bold;
    color:#f44;
    background:url(/admin/images/error.png) no-repeat 0 10px;
}