<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="/public/css/css.css" rel="stylesheet" />
<link type="text/css" href="/public/css/style.css" rel="stylesheet" />
<script src="/public/js/geo.js"></script>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<title>添加收货地址</title>
    <style>
        .my{
            margin-top: 50px;
        }
        .my td{
            font-size: 16px;
            line-height: 1.7em;
        }
        .my input{
            border: none;
            width: 75%;
            height: 30px;
        }
        .my select{
            height: 30px;
        }
        .validate-error{
            color: #ff4444;
        }
    </style>
</head>
<body>
    <div class="header">
        <table width="100%" border="0" cellspacing="0" class="header_nav">
            <tr>
                <td width="10%" class="nav_left1"><a  href="{:U('Member/Member/myinfo')}"><</a></td>
                <td width="80%"class="nav_title">添加收货地址</td>
                <td width="10%" class="nav_r"></td>
            </tr>
        </table>
	</div>
    <form id="form_msg">
        <div class="my">
            <table width="100%" border="0" cellspacing="0" class="my_name">
                <tr>
                    <td class="my_main_p">
                        <label for="name">收货人姓名:</label>
                        <input type="text" id="name" name="name" value="{$data.name|default=''}">
                        <div class="validate-error name"></div>
                    </td>
                </tr>
                <tr>
                    <td class="my_main_p">
                        <label for="mobile">收货人手机:</label>
                        <input type="text" id="mobile" name="mobile" value="{$data.mobile|default=''}">
                        <div class="validate-error mobile"></div>
                    </td>
                </tr>
                <tr>
                    <td class="my_main_p">
                        <span><label for="">选择所在地：</label></span>
                        <p><em>*</em>
                            <select name="province" id="s1"></select>
                            <select name="city" id="s2"></select>
                            <select name="town" id="s3"></select>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="my_main_p">
                        <span><label for="">街道地址：</label></span>
                        <p>
                            <em>*</em><textarea name="site" cols="40" rows="1" style="font-size: 16px;line-height: 2em"></textarea>
                        </p>
                        <div class="image site"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="qrq"><input type="button" value="确认提交" class="qr"></div>
    </form>
</body>
<script src="/public/js/layer_mobile/layer.js"></script>
<script>
    //省市县三级联动
    setup();
    preselect('河南省');
    document.getElementById('s2').value='郑州市';
    document.getElementById('s2').onchange();
    document.getElementById('s3').value='中原区';

    //异步提交
    $('input:last').click(function () {
        $('.validate-error').text('');
       $.post('',$('#form_msg').serialize(),function (data) {
           if (data.status==1){
               layer.open({
                   content:data.info,
                   skin: 'msg',
                   time:1,
                   end:function () {
                       layer.open({
                          content:'是否继续添加新的地址?',
                          btn:['继续添加','查看我的收货地址'],
                          yes:function () {
                              location.reload(true);
                          } ,
                           no:function () {
                               location = "{:U('Member/Member/myinfo')}";
                           }
                       });
                   }
               });
           } else if(data.status==0) {
               layer.open({
                   content:data.info,
                   skin: 'msg',
                   time:2
               });
           }else {
               errors = JSON.parse(data);
               for (var i in errors){
                   $('.'+i).text(errors[i]);
               }
           }
       });
        return false
    });
</script>
</html>
