<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="/public/css/css.css" rel="stylesheet" />
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/layer_mobile/layer.js"></script>
    <title>红包兑换</title>
    <style>
        select{
            border: none;
        }
    </style>
</head>
<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1"><a href="{:U('Member/Member/myred')}" ><</a></td>
            <td width="80%"class="nav_title">红包兑换</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="my">
    <div class="jk">
        <table width="100%" border="0" cellspacing="0" class="my_name">
            <tr>
                <td class="my_mainp">  可用积分:<span style="color: #f2bc18;">{$score}</span><span class="subtotal"></span></td>
            </tr>
        </table>
    </div>
    <form id="form1">
        <table width="100%" border="0" cellspacing="0" class="my_name">
            <tr>
                <td class="my_main_p">兑换红包类型</td>
                <td class="my_mainn_pp" >
                    <select name="type" style="font-size:16px ; width: 120px;height: 30px">
                        <option value="1">无门楷红包</option>
                        <option value="2">满减红包</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="my_main_p">兑换红包价值</td>
                <td class="my_mainn_pp">
                    <select name="value" style="font-size:16px;width:120px;height:30px">
                        <option value="8">8元红包</option>
                        <option value="16">16元红包</option>
                        <option value="24">24元红包</option>
                        <option value="32">32元红包</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="my_main_p">兑换红包数量</td>
                <td class="my_mainn_pp" >
                    <input  name="min"  style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="-" />
                    <input name="num"  id="text_box1" type="text" value="0" style=" width:40px;height:28px; text-align:center; border:1px solid #ccc;" />
                    <input  name="add"   style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="+" />
                </td>
            </tr>
            <tr>
                <td class="my_main_p" colspan="2"> <button type="button" value="兑换" style="float:right;width: 50px;height: 35px;">兑换</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
<script>
    //加的处理
    $('input[name="add"]').click(function(){
        me = $(this);
        if(me.prev().val() < 10){
            me.prev().val( parseInt( me.prev().val() )+1 )
        }
        subtotal();
    });

    //减的处理
    $('input[name="min"]').click(function(){
        me = $(this);
        if(me.next().val() > 0) {
            me.next().val( parseInt(me.next().val()) - 1)
        }
        subtotal();
    });

    $('select').change(function () {
        subtotal();
    });

    function subtotal() {
        if ($('input[name="num"]').val() > 0){
            if ($('select[name="type"]').val() === '1'){
                $('.subtotal').text('-'+parseInt($('input[name="num"]').val())*1.5*parseInt($('select[name="value"]').val()));
            } else {
                $('.subtotal').text('-'+parseInt($('input[name="num"]').val())*parseInt($('select[name="value"]').val()));
            }
        } else {
            $('.subtotal').text('');
        }
    }

    $('button:first').click(function () {
        if ($('input[name="num"]').val() !== '0'){
            layer.open({
                content:'确认兑换？',
                btn:['兑换','容我再想下'],
                yes:function () {
                    $.post('',$('#form1').serialize(),function (data) {
                        if (data.status==1){
                            layer.open({
                                content:data.info,
                                skin: 'msg',
                                time:1,
                                end:function () {
                                    location.reload(true);
                                }
                            });

                        } else {
                            layer.open({
                                content:data.info,
                                skin: 'msg',
                                time:2
                            });
                        }
                    },'json')
                }
            });
        }else {
            layer.open({
                content:'要兑换的数量不能为零',
                btn:'我知道了'
            })
        }
        return false;
    });
</script>
</html>
