<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="/public/css/css.css" rel="stylesheet" />
<title>会员详情</title>
    <style>
        .font15{
            font-size: 15px;
        }
    </style>
</head>
<body>
    <div class="header">
        <table width="100%" border="0" cellspacing="0" class="header_nav">
            <tr>
                <td width="10%" class="nav_left1"><a href="{:U('Member/Member/mygrade')}"><</a></td>
                <td width="80%"class="nav_title">会员详情</td>
                <td width="10%" class="nav_r"></td>
            </tr>
        </table>
	</div>
    <div class="my">
    	<div class="jk">
        <table width="100%" border="0" cellspacing="0" class="my_name">
            	<tr>
                	<td class="my_mainp">当前总积分：{:session('grade')}</td>
                    <td class="my_mainnp"></td>
                </tr>
            </table>	
        </div>            
        	<table width="100%" border="0" cellspacing="0" class="my_name">
            	<tr>
                	<th class="my_main_p font15" style="text-align: left">会员等级</th>
                    <th class="my_mainn_pp font15" style="text-align: left" >需求积分</th>
                </tr>
                <volist name="grades" id="v">
                    <tr>
                        <td class="my_main_p font15 detail" id="{$v.id}" style="cursor: pointer">{$v.grade_name}</td>
                        <div style="display: none" id="detail{$v.id}">{$v.detail}</div>
                        <td class="my_mainn_pp font15">{$v.score}</td>
                    </tr>
                </volist>
            </table>
        </div>
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/layer_mobile/layer.js"></script>
<script>
  $('.detail').click(function () {
      id='#detail'+$(this).attr('id');
      content = $(id).html();
      layer.open({
          title:'等级福利',
          content:content,
          btn:'我知道了'
      })
  });
</script>
</html>
