ul.pagination{
    float:right;
}

ul.pagination li {
    float:left;
}

ul.pagination li a,ul.pagination li span{
    display: inline-block;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border:1px solid #ddd;

}

ul.pagination li a:hover,ul.pagination li.active span{
    background: #056dae;
    color:#fff;
    font-weight: bold;
}
